@charset "UTF-8";

*{margin: 0; padding: 0;}

body{
    background-color: cornflowerblue;
}

header{
    height: 85px;
    background-color: #f0f0f0;
    padding: 10px;
}


header h1{
    float: left;
    font-size: 1.8rem;
}

header ul{ float: right;}
header ul li{
    display: inline-block;
    list-style-type: none;
}

article{
    min-height: 500px;
}

article section{
    float: left;
    padding: 50px;
    background-color: white;
    width: 700px;
    min-height: 500px;
    box-sizing: border-box;
}

article aside{
    float: right;
    width: 200px;
    min-height: 500px;
    background-color: yellow;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}


footer{
    height: 10px;
    line-height: 10px;
    background-color: #c0dce7;
    padding: 20px;
    text-align: center;
}

.container{
    width: 900px;
    margin: 0 auto;
}

h1.logo{
    background: url(../img/logo.png);
    background-size: cover;
    width: 220px;
    height: 70px;
    text-indent: -9999px;
    margin-left: 20px;
}


